<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE 2</title>
    <style>
      .active{
        color: green;
      }
      .text-danger{
        color: red;
      }
    </style>
</head>
<body>
    <div id="app">
        {{message}}
        <span v-once>
          {{change}}
        </span>
        <span v-html="rawHTML">
        </span>
        <span v-bind:id="dynamicId">
          som dynamically generated id
        </span>
        <span :id="color">{{dt}}</span>
    </div>
    <div id="app-2">
        <span v-bind:title="message">
          Hover your mouse over me for a few seconds
          to see my dynamically bound title!
        </span>
      </div>
    
      <div id="app-3">
        <span v-if="seen">
            Something to see and unsee
        </span>
    </div>
    <div id="app-4">
      <li v-for="todo in todos">
        {{todo.text}}
      </li>
    </div>
    <div id="app-5">
      <p>
        {{message}}</p>
      </p>
      <p>{{reverseMessage}}</p>
      <!-- <button v-on:click="reverseMessage">Reverse the message</button> -->
    </div>
    <div id="app-6">
      <p>{{message}}</p>
      <input v-model="message">
    </div>
    <div id="app-7">
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        >
        
        </todo-item>
      </ol>
    </div>
    <div id="app-8">
      <p>
        {{foo}}
      </p>
      <button v-on:click="foo='baz'">Change text</button>
    </div>
    <div id="app-9">
      <p>
        {{fullName}}
      </p>
    </div>
    <div id="app-10">
      <p v-bind:class="[activeClass, errorClass]"> I want to check it here</p>
      <template v-if="checkStatus">
        <div v-show="display">
          knitting
        </div>
        <div>
          knett
        </div>
        <div>
          knott
        </div>
        <div>
          knotten
        </div>
      </template>

      <p>VFor to interate objects</p>
      <ul>
        <li v-for="(value, key) in testObject">
          {{key}} : {{value}}
        </li>
      </ul>
    </div>
    <div id="app-11">
      <ul>
        <li v-for="number in evenNumber">
          {{number}}
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        let app = new Vue ({
            el: '#app',
            data: {
                message:"Hello, world from vue 2x",
                change: "One time",
                rawHTML: "<span>true</span>",
                dynamicId: "app1",
                color: 'red',
                dt: "v-bind shorthand",
            }
        }); 
        var app2 = new Vue({
            el: '#app-2',
            data: {
              message: 'You loaded this page on ' + new Date().toLocaleString()
            }
          })
        var app3 = new Vue({
            el: '#app-3',
            data: {
              seen: false,
            }
          })
        var app4 = new Vue({
          el: '#app-4',
          data: {
            todos: [
              {text: "small washing"},
              {text: "medium washing"},
              {text: "large washing"}
            ]
          }
        });
      var app5 = new Vue({
        el: '#app-5',
        data: {
          message: "Hello, Paullaster!"
        },
        computed: {
          reverseMessage: function(){
            return this.message.split('').reverse().join('');
          }
        }
      });
    var app6 = new Vue({
      el: '#app-6',
      data: {
        message: "Hello, Druidllaster!"
      }
    })
  Vue.component('todo-item', {
    props: ['todo'],
    template: '<li>{{todo.text}}</li>',
  })
  var app7 = new Vue({
    el: '#app-7',
    data: {
      groceryList: [
      {id: 1, text: 'Fruits'},
      {id: 2, text: 'Veges'},
      {id: 3, text: 'Flesh'}
      ]
    }
  });

  var obj = {
    foo: 'bar',
  }
  Object.freeze(obj);
  var app8 = new Vue({
    el: '#app-8',
    data: obj
  });

  var app9 = new Vue({
    el: '#app-9',
    data: {
      firstName: 'John',
      lastName: 'Smith',
    },
    computed: {
      fullName: {
        get(){
          return this.firstName + ' ' + this.lastName;
        },
        set(arg){
          var names = arg.split(' ');
          this.firstName = names[0];
          this.lastName = names[names.length - 1];
        }
      }
    }
  });
  var app10 = new Vue({
    el: '#app-10',
    data: {
      display: false,
      checkStatus: true,
      isActive: true,
      isError: false,
      testObject: {
        fname: 'testObject',
        desg: "Sir.",
        auth: 'testAuth'
      }
    },
    computed: {
      activeClass: function(){
        return {
          active: this.isActive && !this.isError,
        }
      },
      errorClass: function(){
        return {
          'text-danger': this.isError
        };
      }
      
    }
  });
  var app11 = new Vue({
    el: '#app-11',
    data:{
      numbers : [2,3,4,5,6,7,8,9]
    },
    computed:{
      evenNumber: function(){
        return this.numbers.filter( function(n){return n % 2 === 0})
      }
    },
    methods: {
      odd: function(){
        
      }
    }
  });
    </script>
</body>
</html>